.DS_Store
.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
!*.gitkeep
Package.resolved
.vscode

# domain specific
Private
/Server/Data
/Common/Sources/Common/APIKeys.swift
